@media (max-width: 768px) {
  .hamburger-menu {
    display: unset;
  }
  .nav-container {
    display: none;
  }
  .menu{
    display: unset;
  }
 
  .banner {
    height: 60vh;
    text-align: center;
    align-items: center;
  }
  .banner-heading,
  .banner-tagline {
    width: 80%;
  }

  .section{
    height:120vh;
  }
  .sub-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} 
